# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.swp

# Runtime files
*.log
*.pot
*.pyc

# OS files
.DS_Store
Thumbs.db

# Render
render.yaml
